<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hello Spring</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
  
  <div id="page">
    <h1>Home, Sweet Home!</h1>
    
    <p>
      Hello <strong th:text="${username}">user</strong>!
      <th:block th:if="${userdetails.email != null}">
        You will be reached at <a th:href="'mailto:' + ${userdetails.email}" th:text="${userdetails.email}">user@example.com</a>
      </th:block>
    </p>
    
    <p>
        <a href="javascript:document.forms['logout-form'].submit()">Logout</a>
    </p>
  </div>
  
  <!--/* 
    Note: No need to add a hidden form input with the CSRF token (is added by thymeleaf) 
  */-->
  <div id="logout" style="display: none">
    <form id="logout-form" th:action="@{/logout}" method="POST">
      <input type="submit" name="logout"/>
    </form>
  </div>
  
</body>
</html>
