<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hello Spring</title>
  <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
  <div>
    <h1>Hello Spring</h1>
    <p>Go <a th:href="@{/home}">home</a></p>
  </div>
</body>
</html>
